<style type="text/css" xmlns="http://www.w3.org/1999/html">
  #videoDiv {
    margin-right: 3px;
  }
  #videoInfo {
    margin-left: 3px;
  }
</style>

<script type="text/javascript">
  var featuredVideoId =  "<%=$featured_video_id %>";

  function _run() {
    loadPlayer("<%=$featured_video_id%>");
  }

  $(document).ready(function(){
    _run();
    getVideoList("<%=VideoAttributes::ALL %>");

    createProgressDialog();
    createInfoDialog();
    createContactDialog();

  });

</script>

<div id="subheader">  .
  <div id="video_player">
  <span id="fv_title" ><h2><b>Featured Video:&nbsp;</b><%= $featured_video_title %><h2></span>
  <table class="playerTable">
    <tr>
      <td width="20%">
        <img src="assets/redesign/left_arrow4.png" onclick="getPreviousVideo()" class="imgButtons"/>
      <td style="text-align: center">
            <div id="videoDiv" class="videoDivClass">Loading...</div>
            <div id="videoControls"/>
      </td>
      <td width="20%">
       <img src="assets/redesign/right_arrow4.png" onclick="getNextVideo()" class="imgButtons"/>
    </tr>
  </table>
  </div>
</div>
<div id="tabSection">
  <ul class="tabs">
    <li><a href="#" rel="view1">.....List of Videos.....</a></li>
    <li><a href="#" rel="view2">...Current Video.....</a></li>
    <li><a href="#" rel="view3">...View Transcript...</a></li>
  </ul>
</div>
<div id="main">

  <div class="tabcontents">
    <div id="view1" class="tabcontent">
      <div style="color:#1b61ab;"><h2>Welcome to UndergroundMed!</h2> </div><h3>Interactive, high-yield, brief videos on important clinical topics</h3>
      <h3>Created by medical students, reviewed by experienced medical educators.</h3>
        <div class="videoListDiv">
          <table id="videoListTable">
            <tr>
              <th>&nbsp;</th>
              <th align="left">Title</th>
              <th>Rating</th>
              <th>Views</th>
            </tr>
          </table>
        </div>
    </div>
    </div>
    <div id="view2" class="tabcontent">
      <h2>Prepared by:</h2>
      <h2>Reviewed by:  </h2>
      <h2>Rating:     </h2>
      <h2>Comments:   </h2>
    </div>
    <div id="view3" class="tabcontent">
      <h2>Editable transcript/notes section</h2>
    </div>
  </div>

<div id="postscript"></div>