<style type="text/css" xmlns="http://www.w3.org/1999/html">
  #videoDiv {
    margin-right: 3px;
  }
  #videoInfo {
    margin-left: 3px;
  }
</style>

<script type="text/javascript">
  var featuredVideoId =  "<%=$featured_video_id %>";

  function _run() {
    loadPlayer("<%=$featured_video_id%>");
  }

  $(document).ready(function(){
    _run();
    getVideoList("<%=VideoAttributes::ALL %>");

    createProgressDialog();
    createInfoDialog();
    createContactDialog();

  });

</script>

<div id="subheader">  .
  <div id="video_player">
  <span id="fv_title" ><b>Featured Video:&nbsp;</b><%= $featured_video_title %></span>
  <table class="playerTable">
    <tr>
      <td width="20%">
        <img src="assets/redesign/left_arrow4.png" onclick="getPreviousVideo()" class="imgButtons"/>
      <td style="text-align: center">
            <div id="videoDiv" class="videoDivClass">Loading...</div>
            <div id="videoControls"/>
      </td>
      <td width="20%">
       <img src="assets/redesign/right_arrow4.png" onclick="getNextVideo()" class="imgButtons"/>
    </tr>
  </table>
  </div>
</div>
<div id="tagline"></div>
<div id="main">
  <ul class="tabs">
    <li><a href="#" rel="view1">Video List</a></li>
    <li><a href="#" rel="view2">Current Video Details</a></li>
    <li><a href="#" rel="view3">View Transcript</a></li>
  </ul>
  <div class="tabcontents">
    <div id="view1" class="tabcontent">

        <div class="videoListDiv">
          <table id="videoListTable">
            <tr>
              <th>&nbsp;</th>
              <th align="left">Title</th>
              <th>Rating</th>
              <th>Views</th>
            </tr>
          </table>
        </div>
    </div>
    </div>
    <div id="view2" class="tabcontent">
      content 2
    </div>
    <div id="view3" class="tabcontent">
      content 3
    </div>
  </div>

<div id="postscript"></div>