a {
  color: #334499;
  text-decoration: none;
  cursor:pointer;
}

a:hover {
  text-decoration: underline;
  cursor:pointer;
}

body,
html {
  padding:0;
  color:#000;
  font: normal 14pt Calibri;
  width: 1300px;
  margin-left:auto;
  margin-right:auto;
  background-color: #3d243a;
}
#outerBody {
    position:absolute;top:0;left:1600px;
    width: 300px;
    background-image:url('redesign/background_texture4.jpg');
    /*background-color: #fff;  */
}
#innerBody {

  position:absolute;top:0;left:100px;
  width: 1300px;
  background-image:url('redesign/background_texture4.jpg');
    border: 3px solid #bbbbbb;
  /*background-color: #fff;  */
}

#wrap {
  margin: 0 auto;
}
#header {
  width: 1300px;
  height: 100px;
  padding:0;
  background-image:url('redesign/header4.jpg');
  /*background-color: #264061;    */
}

h1 {
  margin:0;
}
#navigation2 {
  /*background-color: #d8e4f0;  */
  width: 1300px;
  height: 29px;
  padding:0;
  background-image:url('redesign/navigation4.jpg');
}
#subheader {
    /*background-color: #d8e4f0;  */
    width: 1300px;
    height: 495px;
    padding:0px;
    background-image:url('redesign/subheader4.jpg');
}
#video_player {
    text-align: center;
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
    /*style="margin-left:auto; margin-right:auto;width:50%;text-align:center;   */
}

.welcomeHeader {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
  padding: 2px 0;
  background-color: #d8e4f0;
  font-size: 12pt;
  text-align:center;
}
#tagline {
    width: 1300px;
    height: 106px;
    padding:0px;
    background-image:url('redesign/tagline5.jpg');
}
#main {
    width: 1300px;
    height: 524px;
    padding:0px;
    background-image:url('redesign/background_texture4.jpg');
}
#postscript {
    /*background-color: #d8e4f0;  */
    width: 1300px;
    height: 88px;
    padding:0px;
    background-image:url('redesign/background_texture4.jpg');
}
#footer {
  width: 1300px;
  clear:both;
}
/* styles for the player area */
/* table that contains the player and buttons */
.playerTable
{
  margin-left:auto;
  margin-right:auto;
  width:95%;
}

#mainTable
{
    font-size: 12px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 5px;
    width: 70%;
    border-collapse: collapse;
    text-align: left;
    /*border: 3px solid #ffffff;    */

}

/*video table*/
.videoListDiv {
  width: 800px;
  height: 400px;
  overflow: auto;
  padding: 2px;
  margin-right:auto;
    margin-left:auto;
  /*background-image: url('redesign/background_texture2.jpg'); */
}

#videoListTable
{
  font-family:'Calibri';
  font-size: 12px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 5px;
  width: 70%;
  border-collapse: collapse;
  text-align: left;
  /*border: 3px solid #ffffff;    */

}
#videoListTable th
{
  font-size: 14px;
  font-weight: normal;
  color: black;
  padding: 2px 8px;
  /*border-bottom: 2px solid #d8e4f0;   */
  background-color: #c6bfba;
}
#videoListTable td
{
  color: black;
  padding: 2px 8px;
  background-color: #c6bfba;
}

#videoListTable a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#videoListTable a:hover {
  text-decoration: none;
  cursor:pointer;
  color: black;
  font-weight: bold;
}

.categorySpan {
  font-weight:normal;
}

/* misc styles */
.imgButtons {
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  cursor:pointer;
}

/* menu styles */
#mainNav, #mainNav ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

#mainNav {
  background-color:transparent;
  width: 1300px;
}

#mainNav ul ul {
  font-size: 1em;
}

#mainNav ul ul a, #subNav a, #caseNav a {
  border: none;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #268cc4;
  font-size: 10pt;
}

#subNav ul, #caseNav ul {
  margin-left: 0;
  list-style: none;
  line-height: 18px;
}

#subNav a, #caseNav a {
  color: #3e6399;
  font-size: 12px;
}

#subNav ul {
  width: 134px;
  margin-bottom: 0;
}

#mainNav a {
  display: block;
  width: auto;
  padding: 1px 20px;
  color: black;
  font-weight: normal;
  font-size: 14pt;
}

#mainNav li {
  float: left;
  width: auto;
  margin: 0;
  font-size: 12px;
}

#mainNav li ul { /* second-level lists */
  position: absolute;
  background: #eeeeee;
  width: 14em;
  left: -999em;
  padding-bottom: 6px;
  z-index: 1;
}

#mainNav li ul a {
  width: 9em;
  color: black;
}

#mainNav li ul ul { /* third-and-above-level lists */
  margin: -1em 0 0 10em;
}

#mainNav li:hover ul ul, #mainNav li.sfhover ul ul {
  left: -999em;
}

#mainNav li:hover ul, #mainNav li li:hover ul, #mainNav li.sfhover ul, #mainNav li li.sfhover ul { /* lists nested under hovered list items */
  left: auto;
}

#mainNav li.last a, #footer li.last a { border-right: none; }

#mainNav a, #subNav a, #utilNav a, #caseNav a {
  text-decoration: none;
}

#mainNav a:hover {
  text-decoration: underline;
}

#mainNav ul ul a:hover, #subNav ul a:hover, #caseNav ul a:hover {
  text-decoration: underline;
  color: #000;
}

#mainNav ul ul a:hover {
  /*background: #d8e4f0;  */
}

#mainNav ul li#-tab a {
  /*background: #707d90;  */
}
#mainNav ul li#-tab ul li a {
  /*background: #fff;    */
}
#subNav ul li a {color: #333;}
#subNav ul li li a {color: #3e63ac;}

