a {
  color: #334499;
  text-decoration: none;
  cursor:pointer;
}

a:hover {
  text-decoration: underline;
  cursor:pointer;
}

body,
html {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding:0;
    color:#404040;
    width: 900px;
    margin-left:auto;
    margin-right:auto;
   background-color: #f1f1f1;

}

#innerbody {
    width: 980px;
    background-color: #fdfdfd;
    border-style: solid;
    border-width: 1px;
    border-color: #aaaaaa;
    border-radius: 10px;
}

#header4 {
    width: 980px;
    height: 96px;
    padding:0;
    background-image:url('redesign3/header21.jpg');
    border-style: solid;
    border-width: 1px;
    border-color: #aaaaaa;
    border-radius: 10px;
    /*background-color: #264061;    */
}

#subheader {
    color: #404040;
    font-weight: bolder;
    font-size: 13px;
    width: 980px;
    margin-left:0px;
    text-align:center;
    padding:0;
    background-color: #fdfdfd;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #aaaaaa;
    border-radius: 10px;
    /*background-color: #264061;    */
}
#column1 {
    width: 650px;
    margin-left: 10px;
    padding:0px;
    text-align: center;
    background-color: #fdfdfd;
}

#column2 {
    margin-top:0px;
    margin-right: 20px;
    float: right;
    width: 270px;
    background-color: #fdfdfd;

}

#wrap {
  margin:0 auto;
}

.sidebar {
    font-size: 11px;
    margin-top:0px;
    padding: 0px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border-bottom-style:solid;
    border-bottom-width: 4px;
    border-bottom-color: #999999;
    text-align:center;
}

h1 {
  margin:0;
}
h2 {
    width:100%;
    padding: 2px;
    text-align: center;
    background-color: #0071c1;
    color: white;
    font-size: 14px;
    border-bottom-style: groove;
    border-bottom-width: 3px;
    border-bottom-color: #6e6e6e;
    border-radius: 4px;
}
h3 {
    font-color: #404040;
    font-style: normal;
    padding: 2px;
    text-align: center;
    font-size: 13px;
}

#footer {
   width: 980px;
    height: 20px;
   background-color: #0071c1;
    border-radius: 5px;
   /*height: 39px;
   background-image:url('redesign2/footer3.jpg');    */
}
/* styles for the player area */
/* table that contains the player and buttons */
.playerTable
{
  margin-left:auto;
  margin-right:auto;
  background: black;
  border-radius: 6px;
  width:80%;
}

.videoNav:hover
{
    background-color: #222222;
    opacity: .6;
}

/*video table*/
.videoListDiv {
  height: 400px;
  overflow: auto;
  padding: 2px;
  margin: 10px 3px;
}

#videoListTable
{
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 12px;
  background: #fff;
  margin-left:5px;
  margin-bottom: 5px;
  width: 90%;
  border-collapse: collapse;
  text-align: left;
}
#videoListTable th
{
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #404040;
    padding: 2px 8px;
    background-color: #f8f8f8;
    border-bottom: 2px solid #aaaaaa;
}
#videoListTable td
{
    font-size: 11px;
    font-color: #404040;
    color: #404040;
    padding: 2px 8px;
    background-color: #f8f8f8;
}

#videoListTable a {
  color: #404040;
  font-weight: bold;
}

#videoListTable a:hover {
  cursor:pointer;
  color: #404040;
  font-weight: bold;
}

.categorySpan {
  font-weight:normal;
}

/* misc styles */
.imgButtons {
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  cursor:pointer;
}

/* menu styles */
#mainNav, #mainNav ul {
  float: left;
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 16px;
}

#mainNav {
  /*background: #d8e4f0; */
  background-color: transparent;
  width: 100%;

}

#mainNav ul ul {
  font-size: 1em;
}

#mainNav ul ul a, #subNav a, #caseNav a {
  border: none;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: transparent;
  font-size: 12px;
}

#subNav ul, #caseNav ul {
  margin-left: 0;
  list-style: none;
  line-height: 12px;
}

#subNav a, #caseNav a {
  color: #3e6399;
  font-size: 12px;
}

#subNav ul {
  width: 100px;
  margin-bottom: 0;
}

#mainNav a {
  display: block;
  width: auto;
  padding: 1px 20px;
  color: #5d8db3;
  font-weight: bolder;
  font-size: 15px;
}

#mainNav li {
  float: left;
  width: auto;
  margin: 0;
  font-size: 12px;
  font-weight: normal;
}

#mainNav li ul { /* drop-down menu/second-level lists */
  position: absolute;
  background-color: #999999;
  opacity: .95;
  width: 10em;
  left: -999em;
  padding-bottom: 2px;
  z-index: 1;
  border-radius: 2px;
}

#mainNav li ul a {
  width: 8em;
  color: #ffffff;
  font-size: 11px;
  font-weight: normal;
}

#mainNav li ul ul { /* third-and-above-level lists */
  margin: -1em 0 0 10em;
}

#mainNav li:hover ul ul, #mainNav li.sfhover ul ul {
  left: -999em;
}

#mainNav li:hover ul, #mainNav li li:hover ul, #mainNav li.sfhover ul, #mainNav li li.sfhover ul { /* lists nested under hovered list items */
  left: auto;
}

#mainNav li.last a, #footer li.last a { border-right: none; }

#mainNav a, #subNav a, #utilNav a, #caseNav a {
  text-decoration: none;
}

#mainNav a:hover {
  text-decoration: underline;
}

#mainNav ul ul a:hover, #subNav ul a:hover, #caseNav ul a:hover {
  text-decoration: underline;
  color: #ffffff;
}

#mainNav ul ul a:hover {
  width: 70%;
  background: #666666;
  opacity:.95;
  border-radius: 2px;
}

#mainNav ul li#-tab a {
  background: #707d90;
}
#mainNav ul li#-tab ul li a {
  background: #fff;
}
#subNav ul li a {color: #333;}
#subNav ul li li a {color: #3e63ac;}

.twtr-tweet-text {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.twtr-hyperlink a{
    font-family: Calibri, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
