
.tabs
{
    padding: 6px 0;
    font-size: 14;
    margin-left:125px;
    margin-top:0px;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/

}

.tabs li
{
    font: normal 20px Calibri;
    display: inline;
    margin-top:6px;
    margin-right:3px; /*distance between tabs*/
    background-color:transparent;
}

.tabs li a
{
    font: normal 14px Calibri;
    text-decoration: none;
    position: relative;
    z-index: 1;
    padding: 6px 16px;
    color: #000;
    background-color:transparent;
    outline:none;
}

.tabs li a:visited
{
    color: #000;
}

.tabs li a:hover
{
    background-color:transparent;
}

.tabs li.selected a
{
    /*selected tab style */
    padding: 9px 16px 6px;
    position: relative;
    top: 0px;
    font-weight:bold;
    background-color:#bbbbbb;
    border-bottom-color: white;
}


.tabs li.selected a:hover
{
    /*selected tab style */
    text-decoration: none;
}

.tabcontent
{
    width:800px;
    display: block;
    margin-right:auto;
    margin-left:auto;
}

.tabcontents
{
    width:800px;
    margin-right:auto;
    margin-left:auto;
    /*border: 1px solid #AAA;   */
    background-color:transparent;
    border-radius: 2px;
}